$grid-breakpoint-xs: 0;
// $grid-breakpoint-before-sm: 576px;
$grid-breakpoint-sm: 576px;
// $grid-breakpoint-before-md: 767px;
$grid-breakpoint-md: 768px;
// $grid-breakpoint-before-lg: 991px;
$grid-breakpoint-lg: 992px;
// $grid-breakpoint-before-xl: 1199px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;





@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {

    font-display: swap;
    font-family: 'OpenSans';
    src: url('..//fonts/OpenSans/OpenSans-Regular.woff2');
    src: url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
        url('..//fonts/OpenSans/OpenSans-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;

}

@font-face {

    font-display: swap;
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Italic.woff2');
    src:
        url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-Italic.eot') format('eot');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-display: swap;
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Bold.woff2');
    src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OpenSans/OpenSans-Bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;

}



$font-family-sans-serif: 'OpenSans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family-different: 'Philosopher', sans-serif;

//$font-family-serif: Georgia, 'Times New Roman', serif;
//$font-family-sans-serif: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//$font-family-sans-serif: 'IBM Plex Sans', sans-serif;

//$font-family-sans-serif: inherit;




$color-main: white;
//$container-max-width: 1296px;
$color-main: #fff;
$color-dark-blue: #2988BC;
$color-blue-burger: #62B4E0;
$color-sublink-burger-old: #9ACEEB;
$color-sublink-burger: #aedcf4;
$color-accent: #ED8C72;
//$color-dark-text: #0f4d6e;
$color-dark-text: #053e5d;
$color-button: #FBD36C;
$color-connect: #F5CDBA;
$color-beige: #F4EADE;


$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-medium-plus: 22px;
$font-size-large: 26px;
$font-size-extra-large: 32px;




$color-logo-orange: rgb(247, 178, 119);
$color-logo-pink: rgb(247, 195, 212);
$color-logo-blue: rgb(111, 201, 235);
$color-logo-yellow: rgb(252, 238, 94);
$color-logo-green: rgb(179, 208, 109);


/* классы и стили общие для всего проекта */

* {
    box-sizing: border-box;
}


html,
body {
    // height: 100%;
    // padding: 0;
    //margin: 0;
    //font-family: $font-family-sans-serif;
    color: $color-dark-text;
    -webkit-font-smoothing: antialiased;
}

body {

    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    // max-width: 1920px;
    margin: 0 auto;
}

//$container-max-width: 1296px;

// header,
// main,
// article {
//     max-width: $container-max-width;
//     margin: 0 auto;
// }