.about-channel {
    &__image-container {
        width: 100%;
        display: flex;
        justify-content: center;

        &_diadzetka-img {
            width: 50%;

            @media screen and (max-width: $grid-breakpoint-md) {
                width: 100%;
            }
        }
    }
}

.link-style-channel {
    color: $color-dark-text;
}

.link-style-channel:hover {
    cursor: pointer;
    color: $color-blue-burger;
}

// .cookie-consent-container {
//     position: fixed;
//     bottom: 20px;
//     left: 20px;
//     background-color: white;
//     padding: 20px;
//     border: 1px solid #ccc;
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
//     z-index: 1000;
// }

.cookie-consent-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-sublink-burger;
    color: $color-dark-text;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.cookie-consent-container p {
    margin: 10px 0;
}

.cookie-consent-container button {
    color: $color-main;
    background: none;
    border: 1px solid $color-main;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}