.celiakia {
    &__add-materials {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;

        @media screen and (max-width: $grid-breakpoint-md) {
            grid-template-columns: 100%;
        }

        &_pdf-documents {
            width: 90%;
            height: 500px;
            margin-bottom: 20px;
        }
    }


}


#read-more-articleCeliakia1 {
    display: none;
}

#read-more-articleCeliakiaGarden {
    display: none;
}


#read-more-articleCeliakiaSchool {
    display: none;
}

#read-more-articleCeliakiaPamyatka {
    display: none;
}

#read-more-articleCeliakiaRestoran {
    display: none;
}

#read-more-articleCeliakiaBezgluten {
    display: none;
}

#read-more-articleCeliakiaSkin {
    display: none;
}

#read-more-articleWhatIsCeliakia {
    display: none;
}

#read-more-articleControlCeliakia {
    display: none;
}



.magazin_pages {
    display: grid;
    grid-template-columns: 50% 50%;
}

.magazin_page {
    width: 98%;
    border: solid 1px $color-blue-burger;
}