.small-size {
    display: flex;

    @media screen and (min-width: $grid-breakpoint-sm) {
        display: none;
    }
}

.medium-size {
    display: flex;

    @media screen and (max-width: $grid-breakpoint-sm) {
        display: none;
    }

    @media screen and (min-width: $grid-breakpoint-md) {
        display: none;
    }
}

.big-size {
    display: flex;

    @media screen and (max-width: $grid-breakpoint-lg) {
        display: none;
    }
}