.dia-shops {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        display: flex;
        margin: 0 auto;
        padding: 20px;
        width: 50%;
    }

}

.diashops-logo {
    width: 100%;
}