.news-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;

    @media screen and (min-width: $grid-breakpoint-xl) {
        grid-template-columns: 33% 33% 33%;
    }

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: 100%;
    }
}

.news-item {
    border: 1px solid $color-dark-blue;
    width: 100%;
    overflow: hidden;
}

.news-item:last-child {
    margin-bottom: 0px;

    @media screen and (max-width: $grid-breakpoint-md) {
        margin-bottom: 20px;
    }
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-title {
    margin: 10px;
    cursor: pointer;
}

.news-title:hover {
    color: $color-dark-blue;
    cursor: pointer;
}

.news-content {
    display: none;
    padding: 10px;
}