.news-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    @media screen and (max-width: $grid-breakpoint-xxl) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.news-item {
    border: 1px solid $color-dark-blue;
    width: 100%;
    overflow: hidden;
    padding: 0.8rem 0.5rem;
    font-size: $font-size-small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-item:last-child {
    margin-bottom: 0px;

    @media screen and (max-width: $grid-breakpoint-md) {
        margin-bottom: 20px;
    }
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-title {
    //margin: 10px;
    cursor: pointer;
    font-size: $font-size-small;
}

.news-title:hover {
    color: $color-dark-blue;
    cursor: pointer;
}

.news-content {
    display: none;
    //padding: 10px;
}

.news-date {
    font-weight: 400;
}