.pages {

    &__images {
        display: flex;
        justify-content: center;
    }

    &__image-container {
        width: 90%;
        display: flex;
        justify-content: center;

        @media screen and (max-width: $grid-breakpoint-md) {
            width: 96%;
        }

        &_fakes {
            width: 80%;
            border: solid 1px $color-dark-text;

            @media screen and (max-width: $grid-breakpoint-md) {
                width: 100%;
            }
        }
    }
}