.for-school {
    &__information {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $grid-breakpoint-md) {
            flex-direction: row;
        }




        &_image {
            width: 100%;

            @media screen and (min-width: $grid-breakpoint-md) {
                width: 50%;
            }
        }
    }
}