#read-more-article-NewPeople1 {
    display: none;
}

.book-preview {
    width: 20%;
    display: inline-block;
    overflow: hidden;

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 100%;
        margin-bottom: 20px;
        float: none;
    }

    @media screen and (min-width: $grid-breakpoint-xl) {
        width: 50%;
    }
}

.book-preview img {
    transition: 1s;
    display: block;
}


.book-preview:hover {
    transform: scale(1.5);
    margin-left: 60px;
    z-index: 200;
}

.dia-school-previews {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: 50% 50%
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        grid-template-columns: 100%
    }

    &__img-container {
        width: 100%;
        padding: 3px 3px 0px 3px;

        &_img {
            width: 100%;
        }
    }
}

.dia-school-previews-vertical {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: 25% 25% 25% 25%;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        grid-template-columns: 50% 50%
    }

    &__img-container {
        width: 100%;
        padding: 3px 3px 0px 3px;

        &_img {
            width: 100%;
        }
    }
}

.dia-books-previews {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 24px;
    padding: px 10px 0 10px;


    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: 100%
    }

}