.for-school {

    &__information {

        display: grid;
        grid-template-columns: 50% 50%;

        @media screen and (max-width: $grid-breakpoint-md) {
            grid-template-columns: 100%;
        }


        &_image {
            width: 98%;
            border: solid 1px $color-dark-blue;
            border-radius: 6px;
            margin-bottom: 12px;

            @media screen and (max-width: $grid-breakpoint-md) {
                width: 100%;
            }
        }
    }
}