#read-more-article-GadgSet1 {
    display: none;
}

.resize {
    width: 70%;
}

.board {
    border: 1px solid $color-dark-text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}