#read-more-article-GadgSet1 {
    display: none;
}

.resize {
    width: 70%;
}

.board {
    border: 1px solid $color-dark-text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $font-size-medium;

    @media screen and (max-width: $grid-breakpoint-md) {
        font-size: $font-size-small-plus;

    }
}