.hyperglikemia {
    &__image-container {
        &_hyperglikemia-symptoms {
            width: 100%;
            border: solid 1px $color-dark-text;
        }
    }
}

.footer-hypoglikemia {
    position: fixed;
    bottom: 0;
}