.insulin {
    &__text-container {
        width: 100%;
        padding: 5px 20px 15px 20px;
        font-size: $font-size-small-plus;
        font-family: $font-family-sans-serif;
        line-height: 1.5;

        @media screen and (max-width: $grid-breakpoint-md) {
            font-size: $font-size-small-plus;
            padding: 10px 20px 5px 20px;
        }
    }
}

.page-title {
    text-align: center;

}

// .insulin-articles-and-lessons-preview {
//     display: grid;
//grid-template-columns: 60% 40%;

//     @media screen and (max-width: $grid-breakpoint-md) {
//         grid-template-columns: 100%;
//     }
// }


.insulin-articles {


    width: 100%;
    font-family: $font-family-sans-serif;


    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 100%;
    }

    &__ins-article {
        //height: 120px;
        background-color: $color-main;
        border: solid 1px $color-blue-burger;
        margin: 10px;
        padding: 0px 10px 0px 10px;
        color: $color-dark-text;
        text-decoration: none;
        font-size: $font-size-medium;
        line-height: 1.5;
        border-radius: 6px;
    }

}

.lessons-preview {
    &_horizontal {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-right: 20px;

        @media screen and (min-width: $grid-breakpoint-xl) {
            grid-template-columns: 33% 33% 33%;
            margin-right: 20px;
        }


        @media screen and (max-width: $grid-breakpoint-md) {
            grid-template-columns: 100%;
            margin-right: 0px;
        }
    }
}

.insulin {

    &__preview-lesson {
        width: 99%;
        text-align: center;
        margin: 10px;

        @media screen and (max-width: $grid-breakpoint-md) {
            grid-template-columns: 100%;
            margin: 10px 0px 20px 0px;
            padding: 0px 10px 0px 10px;
            width: 100%;
        }

        &__preview-lesson:first-child {
            margin: 0px 10px 0px 0px;
        }

        &__preview-lesson:last-child {
            margin: 0px 0px 0px 10px;
        }
    }

    &__images {
        display: flex;

        @media screen and (max-width: $grid-breakpoint-md) {
            flex-direction: column;
        }

    }

    &__image-container {
        max-width: 100vw;
        display: flex;
        margin: 20px auto;
        align-items: center;


        @media screen and (max-width: $grid-breakpoint-md) {
            flex-direction: column;
            margin: 10px 10px 10px 10px;
        }

        &_insulin-action {
            width: 100%;
            border: solid 1px $color-dark-text;

            @media screen and (max-width: $grid-breakpoint-md) {
                width: 100%;
            }
        }

        &_insulin-time-1 {
            width: 30vw;
            border: solid 1px $color-dark-text;

            @media screen and (max-width: $grid-breakpoint-md) {
                width: 100%;
            }
        }

        &_insulin-time-2 {
            width: 32vw;
            border: solid 1px $color-dark-text;

            @media screen and (max-width: $grid-breakpoint-md) {
                width: 100%;
            }
        }
    }
}

.insulin-link {
    margin-left: 10px;
}

.note {
    font-size: $font-size-small-plus;
}

#read-more-article-ins0 {
    display: none;
}

#read-more-article-ins1 {
    display: none;
}

#read-more-article-ins2 {
    display: none;
}

#read-more-article-ins3 {
    display: none;
}

#read-more-article-ins4 {
    display: none;
}

#read-more-article-ins5 {
    display: none;
}

#read-more-article-ins6 {
    display: none;
}

.button-read-article {
    height: 60px;
    border-radius: 6px;
    border: solid 1px $color-blue-burger;
    background-color: $color-blue-burger;
    color: $color-main;
    font-size: $font-size-large;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30%;
    font-family: $font-family-sans-serif;
    margin-bottom: 20px;


    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 50%;


    }
}

.button-read-article:hover {
    scale: 1.02;
}