.strange-deal {
    width: 40%;

    @media screen and (max-width: $grid-breakpoint-lg) {
        width: 50%;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 100%;
    }
}