.psyhology {

    &__text-container {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        font-family: $font-family-different;
        font-size: $font-size-medium-plus;
        line-height: 1.3;
    }
}

.psyhology-start {

    &__entrance-part {
        // display: flex;
        display: block;

        // @media screen and (max-width: $grid-breakpoint-md) {
        //     display: block;
        // }


        // &_text {
        //     width: 55%;
        //     //margin-top: 20px;
        //     //padding: 20px;
        //     font-size: $font-size-small-plus;
        //     font-family: $font-family-sans-serif;
        //     line-height: 1.6;
        //     padding-left: 10px;
        // }

        // &_confucious-img-container {
        //     width: 45%;
        //     //margin-top: 20px;
        //     padding: 10px;
        //     border-radius: 6px;

        // }

        // @media screen and (max-width: $grid-breakpoint-lg) {

        &_text {
            width: 100%;
            //margin-top: 20px;
            padding: 10px;
            line-height: 1.5;
        }

        &_confucious-img-container {
            width: 100%;
            margin-top: 20px;
            //padding: 10px;
            border-radius: 6px;
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
        }

        // }
    }
}

.confucious {
    width: 60%;
    border-radius: 6px;

    @media screen and (max-width: $grid-breakpoint-lg) {
        width: 100%;
    }
}

.psyhology-articles {

    font-family: $font-family-sans-serif;

    &__psy-article {
        //height: 120px;
        background-color: $color-main;
        border: solid 1px $color-blue-burger;
        margin: 10px;
        padding: 10px;
        color: $color-dark-text;
        text-decoration: none;
        font-size: $font-size-small-plus;
        line-height: 1.5;
        border-radius: 6px;
    }

}

#read-more-article1 {
    display: none;
}

#read-more-article2 {
    display: none;
}

#read-more-article3 {
    display: none;
}

#read-more-article4 {
    display: none;
}

#read-more-article5 {
    display: none;
}

#read-more-article6 {
    display: none;
}

.button-read-article {
    height: 60px;
    border-radius: 6px;
    border: solid 1px $color-blue-burger;
    background-color: $color-blue-burger;
    color: $color-main;
    font-size: $font-size-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30%;
    font-family: $font-family-sans-serif;
    margin-bottom: 20px;


    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 50%;


    }
}

.button-read-article:hover {
    scale: 1.02;
}

.psyh1-img {
    width: 94%;
}