.psyhology {

    &__text-container {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        font-family: $font-family-different;
        font-size: $font-size-medium-plus;
        line-height: 1.5;
    }
}

.psyhology-start {

    &__entrance-part {
        display: block;

        &_text {
            max-width: 100%;
            padding: 0 0px 10px 0px;
            line-height: 1.5;
        }

        &_confucious-img-container {
            //width: 100%;
            margin-top: 0px;
            border-radius: 6px;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.confucious {
    width: 50%;
    //width: auto;
    border-radius: 6px;
    max-width: 100%;

    // @media screen and (min-width: $grid-breakpoint-xl) {
    //     // width: 100%;
    // }

    // @media screen and (max-width: $grid-breakpoint-xl) {
    //     width: 100%;
    //     height: auto;
    // }

    @media screen and (max-width: $grid-breakpoint-md) {
        width: 100%;
    }
}

.confucious-float-right {
    float: right;
    margin-left: 15px;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 20px;
    //z-index: 1000;

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0px;
        float: none;
    }

    @media screen and (min-width: $grid-breakpoint-xl) {
        width: 40%;
    }
}

.confucious-float-left {
    float: left;
    margin-right: 15px;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 20px;
    //z-index: 1000;

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0px;
        float: none;

    }

    @media screen and (min-width: $grid-breakpoint-xl) {
        width: 40%;
    }
}

.psyhology-articles {

    font-family: $font-family-sans-serif;

    &__psy-article {
        background-color: $color-main;
        border: solid 1px $color-blue-burger;
        margin: 10px 0px 10px 0px;
        padding: 0px 10px 0 10px;
        color: $color-dark-text;
        text-decoration: none;
        font-size: $font-size-small-plus;
        line-height: 1.5;
        border-radius: 6px;
    }

}

#read-more-article1 {
    display: none;
}

#read-more-article2 {
    display: none;
}

#read-more-article3 {
    display: none;
}

#read-more-article4 {
    display: none;
}

#read-more-article5 {
    display: none;
}

#read-more-article6 {
    display: none;
}

.button-read-article {
    height: 40px;
    border-radius: 6px;
    border: solid 1px $color-blue-burger;
    background-color: $color-blue-burger;
    color: $color-main;
    font-size: $font-size-small-plus;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25%;
    font-family: $font-family-sans-serif;

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 50%;
    }
}

.button-read-article:hover {
    scale: 1.02;
}

.psyh1-img {
    width: 94%;

    @media screen and (min-width: $grid-breakpoint-xl) {
        width: 50%;
    }
}

.psyho {
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: 100%;
    }
}

.increase {
    height: 300px;
    width: auto;
    margin: 10px;
}

.decrease {
    height: 300px;
    width: auto;
    margin: 10px;
}

.dia-school-previews-vertical {
    display: grid;
    grid-template-columns: repeat(6, 1fr);


    @media screen and (max-width: $grid-breakpoint-md) {
        grid-template-columns: 25% 25% 25% 25%;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        grid-template-columns: 50% 50%
    }

    &__img-container {
        width: 100%;
        padding: 3px 3px 0px 3px;

        &_img {
            width: 100%;
        }
    }
}