.psyhology {
    &__text-container {
        width: 55%;
        margin-top: 20px;
        padding: 20px;
    }

    &__confucious {
        width: 45%;
        margin-top: 20px;
        padding: 20px;
    }

}

.psyhology-articles {

    margin-left: 280px;
    z-index: 1;
    width: calc(100% - 280px);

    @media screen and (min-width: $grid-breakpoint-lg) {

        margin-left: 280px;
        width: calc(100% - 280px);
    }


    @media screen and (max-width: $grid-breakpoint-lg) {

        margin-left: 280px;
        width: calc(100% - 280px);
    }


    @media screen and (max-width: $grid-breakpoint-md) {

        // margin-left: 180px;
        // width: calc(100% - 180px);

        width: 100%;
        margin-left: 0px;
    }

    @media screen and (max-width: $grid-breakpoint-sm) {
        width: 100%;
        margin-left: 0px;

    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    padding: 10px;
}

.psy-article {
    height: 120px;
    background-color: $color-main;
    margin: 10px;
    padding: 10px;
    color: $color-dark-text;
    text-decoration: none;
    font-size: $font-size-medium;
    background-color: $color-sublink-burger;
    border: solid 1px $color-sublink-burger;
    border-radius: 6px;
}