@charset "UTF-8";
/* Оригинальные переменные HOMEPAGE  */
/* А тут какие-то классы и стили для тегов, тоже общие для всего проекта */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100vh;
  background-color: white;
}

.container-header {
  max-width: 100vw;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, "Times New Roman", serif;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  z-index: 150;
  background-color: white;
  padding-right: 20px;
}
.container-header__dialydi-header {
  width: 50vw;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-left: 10rem;
}
.container-header__dialydi-header_dialydi-name {
  color: #044151;
  font-size: 32px;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-stretch: extra-expanded;
}
.container-header__social-links {
  width: 20vw;
  color: #096265;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-header__social-links_channel-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-header__social-links_school-link {
  text-decoration: none;
}
.container-header__social-links_diadzetka-link {
  text-decoration: none;
}
.container-header__button-header {
  display: flex;
}
.container-header__button-header_search {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.button {
  background-color: rgb(239, 193, 11);
  height: 40px;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  height: 40px;
}
.button__button-donate {
  width: 200px;
  margin-left: 20px;
}
.button__button-search {
  width: 140px;
  margin-left: 10px;
}

.icon__youtube {
  width: 50px;
  height: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.logo__img {
  height: 116px;
}
.logo__link {
  background-color: white;
}

.logo__link:hover {
  background-color: #fff;
}

.container-nav-main-article {
  margin-top: 140px;
  margin-left: 14rem;
  z-index: 1;
  width: calc(100% - 14rem);
}
.container-nav-main-article__nav {
  width: 14rem;
  height: 100vh;
  line-height: 1.65;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  position: fixed;
  top: 140px;
  left: 0px;
}
.container-nav-main-article__main {
  overflow: hidden;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-nav-main-article__main_photo {
  width: 60%;
  box-shadow: -8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
.container-nav-main-article__main_info {
  width: 40%;
}

ul {
  list-style: none;
  background: #b8ecf6;
  width: 200px;
  color: #044151;
}

ul li {
  position: relative;
  border-radius: 6px;
}

ul li:hover {
  background-color: white;
}

ul li:hover ul {
  display: block;
}

ul li:hover ul li ul {
  display: none;
}

ul li a {
  color: #044151;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

ul li a:hover {
  background-color: white;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

ul li ul li:hover ul {
  display: block;
}

ul li ul {
  position: absolute;
  left: 200px;
  top: 0px;
  display: none;
  width: 300px;
  background: white;
  color: #044151;
  padding-right: 20px;
  border-radius: 6px;
}

.photo {
  width: 100%;
}

.info__confucii {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin-top: 0px;
  color: #021e25;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 24px;
}
.info__confucii_name {
  position: absolute;
  right: 90px;
  font-size: 24px;
}

.text-center {
  display: flex;
  justify-content: center;
}

.article__community-describe {
  color: #021e25;
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  line-height: 1.4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
.article__community-describe__diapeople-name {
  font-weight: bold;
}
.article__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background-color: #b8ecf6;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
.article__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.subscribe {
  width: 100%;
  background-color: #044151;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}

.subscribe-contact {
  width: 40%;
  height: 40px;
  margin-right: 40px;
}

.link {
  width: 14rem;
  height: 10rem;
  color: #044151;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}

.information {
  width: 33rem;
  height: 28rem;
  color: #044151;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}

.footer {
  margin-bottom: 140px;
  margin-left: 14rem;
  width: calc(100% - 14rem);
  background-color: #044151;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
}

.about_diabete__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.what_is_diabete_text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.insulin__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hypoglikemia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hyperglikemia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.food__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.for_new_people__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.psyhology__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.gadgets__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.insulin_injection__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.measure_devices__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.documents__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.posobia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.lgoty__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hospitals__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.diabete_lifestyle__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.fakes__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.world_diabete__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.community__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.school__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.about_us__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.about_us__container {
  display: flex;
  margin-top: 140px;
  margin-left: 14rem;
}
.about_us__container__photo {
  width: 55%;
}
.about_us__container__velik {
  width: 45%;
}
.about_us__community-describe {
  color: #021e25;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 14rem;
}

.form {
  background-color: #044151;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14rem;
}
.form__person-contact {
  width: 40%;
  height: 40px;
  margin-right: 40px;
}
.form__submit-contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.photo-velik {
  width: 100%;
}/*# sourceMappingURL=main-styles.css.map */