@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Оригинальные переменные HOMEPAGE  */
/* А тут какие-то классы и стили для тегов, тоже общие для всего проекта */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: white;
}

.container-header {
  width: 100vw;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Philosopher", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  z-index: 150;
  background: rgb(187, 215, 243);
  padding-right: 20px;
  padding-left: 10px;
}
@media screen and (max-width: 992px) {
  .container-header {
    height: 120px;
  }
}
@media screen and (max-width: 768px) {
  .container-header {
    height: 120px;
  }
}
@media screen and (max-width: 479px) {
  .container-header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .container-header__burger {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .container-header__burger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-header__burger {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .container-header__burger {
    display: block;
  }
}
.container-header__logo {
  padding: 6px;
}
@media screen and (max-width: 479px) {
  .container-header__logo {
    width: 60px;
  }
}
.container-header__logo_img {
  height: 116px;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  .container-header__logo_img {
    height: 110px;
  }
}
@media screen and (max-width: 768px) {
  .container-header__logo_img {
    height: 110px;
  }
}
@media screen and (max-width: 479px) {
  .container-header__logo_img {
    height: 80px;
  }
}
.container-header__logo_link {
  height: 116px;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  .container-header__logo_link {
    height: 110px;
  }
}
@media screen and (max-width: 768px) {
  .container-header__logo_link {
    height: 110px;
  }
}
@media screen and (max-width: 479px) {
  .container-header__logo_link {
    height: 110px;
  }
}
.container-header__logo_img:hover {
  border: solid 1px #044151;
}
.container-header__dialydi-header {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .container-header__dialydi-header {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .container-header__dialydi-header {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}
.container-header__dialydi-header_dialydi-name {
  color: #044151;
  font-size: 26px;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-stretch: extra-expanded;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .container-header__dialydi-header_dialydi-name {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .container-header__dialydi-header_dialydi-name {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .container-header__dialydi-header_dialydi-name {
    display: none;
  }
}
.container-header__social-links {
  color: #096265;
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .container-header__social-links {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .container-header__social-links {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .container-header__social-links {
    display: none;
  }
}
.container-header__social-links_channel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  .container-header__social-links_channel-box {
    width: 94px;
  }
}
@media screen and (max-width: 768px) {
  .container-header__social-links_channel-box {
    width: 80px;
  }
}
.container-header__social-links_channel-box:hover {
  border: solid 1px #044151;
}
.container-header__social-links_school-link {
  text-decoration: none;
}
.container-header__social-links_diadzetka-link {
  text-decoration: none;
}
.container-header__button-complex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 479px) {
  .container-header__button-complex {
    display: none;
  }
}
.container-header__social-links-with-button-complex {
  display: flex;
}

.container-mobile {
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin-top: 100px;
  font-family: "Philosopher", sans-serif;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  z-index: 150;
  background: white;
  padding-right: 20px;
  padding-left: 10px;
}
@media screen and (min-width: 992px) {
  .container-mobile {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .container-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-mobile {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.container-mobile__dialydi-mobile {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.container-mobile__dialydi-mobile_dialydi-name {
  color: #044151;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-stretch: extra-expanded;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .container-mobile__dialydi-mobile_dialydi-name {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-mobile__dialydi-mobile_dialydi-name {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .container-mobile__dialydi-mobile_dialydi-name {
    display: flex;
    font-size: 18px;
  }
}
.container-mobile__channel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  .container-mobile__channel-box {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-mobile__channel-box {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-mobile__channel-box {
    display: block;
  }
}
.container-mobile_channel-box:hover {
  border: solid 1px #044151;
}
.container-mobile_school-link {
  text-decoration: none;
}
.container-mobile_diadzetka-link {
  text-decoration: none;
}

.button-header {
  display: flex;
}
.button-header_search {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-items: center;
  margin-left: 20px;
}
.button-header_donate {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.button {
  background-color: rgb(243, 228, 17);
  border: solid 1px rgb(243, 228, 17);
  height: 40px;
  border-radius: 6px;
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  width: 140px;
  position: relative;
}
.button__button-donate {
  width: 300px;
}
@media screen and (max-width: 992px) {
  .button__button-donate {
    width: 200px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .button__button-donate {
    width: 160px;
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .button__button-donate {
    width: 120px;
    font-size: 14px;
  }
}
.button__button-search {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 479px) {
  .button__button-search {
    display: none;
  }
}
.button__button-search_lupa {
  width: 30px;
}
@media screen and (max-width: 479px) {
  .button__button-search_lupa {
    display: none;
  }
}
.button__button-search-sm {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 992px) {
  .button__button-search-sm {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .button__button-search-sm {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .button__button-search-sm {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .button__button-search-sm {
    display: block;
  }
}
.button__button-search-sm_lupa-sm {
  width: 30px;
}
@media screen and (max-width: 992px) {
  .button__button-search-sm_lupa-sm {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .button__button-search-sm_lupa-sm {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .button__button-search-sm_lupa-sm {
    display: block;
  }
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}

.button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s;
  border: 1px solid #044151;
  border-radius: 6px;
  transform: scale(1.1, 1.1);
}

.button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 0 rgb(243, 228, 17) inset, 0 0 5px 4px rgb(243, 228, 17);
}

.icon__youtube {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 479px) {
  .main-menu {
    display: none;
  }
}

.container-nav {
  width: 240px;
  height: calc(100vh - 140px);
  line-height: 1.4;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  position: fixed;
  top: 140px;
  left: 0px;
  box-shadow: 8px 0 14px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 992px) {
  .container-nav {
    top: 120px;
    height: calc(100vh - 120px);
    width: 200px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .container-nav {
    top: 120px;
    height: calc(100vh - 120px);
    width: 180px;
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .container-nav {
    display: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  background: rgb(187, 215, 243);
  color: #044151;
}

ul li {
  position: relative;
  border-radius: 6px;
}

ul li:hover {
  background-color: white;
  text-decoration: underline;
}

ul li:hover ul {
  display: block;
  padding: 10px;
}

ul li:hover ul li ul {
  display: none;
}

ul li a {
  color: #044151;
  padding: 10px 10px 10px 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

ul li a:hover {
  background-color: white;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

ul li ul li:hover ul {
  display: block;
}

ul li ul {
  position: absolute;
  left: 220px;
  top: 0px;
  display: none;
  width: 240px;
  background: rgb(187, 215, 243);
  color: #044151;
  padding-right: 30px;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  ul li ul {
    left: 180px;
    width: 180px;
  }
}
@media screen and (max-width: 768px) {
  ul li ul {
    left: 160px;
    width: 160px;
  }
}
@media screen and (max-width: 479px) {
  ul li ul {
    left: 0px;
    width: 100vw;
    background: rgb(212, 229, 246);
  }
}

/*скрываем чекбокс*/
#burger-menu__toggle {
  opacity: 0;
}

/*стилизуем кнопку*/
.burger-menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 56px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
}

/*добавляем гамбургер*/
.burger-menu__btn > span, .burger-menu__btn > span::before, .burger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #8c8c88;
}
.burger-menu__btn > span::before {
  content: "";
  top: -11px;
}
.burger-menu__btn > span::after {
  content: "";
  top: 11px;
}
.burger-menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  margin: 0;
  padding: 90px 0 30px 0;
  list-style: none;
  text-align: center;
  background-color: #d4d4d2;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0 6px 6px 0;
  width: 300px;
}
.burger-menu__item {
  display: block;
  padding: 10px 20px;
  color: rgb(22, 21, 21);
  font-size: 18px;
  color: #044151;
  text-decoration: none;
}
.burger-menu__item:hover {
  background-color: #f2eded;
}
.burger-menu__contact {
  display: block;
  padding: 10px 20px;
  color: rgb(22, 21, 21);
  font-size: 18px;
  color: #044151;
  text-decoration: underline;
}
.burger-menu__contact:hover {
  background-color: #f2eded;
}
.burger-menu__delivery {
  display: block;
  padding: 10px 20px;
  color: rgb(22, 21, 21);
  font-size: 18px;
  color: #044151;
  text-decoration: underline;
}
.burger-menu__delivery:hover {
  background-color: #f2eded;
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span {
  transform: rotate(45deg);
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#burger-menu__toggle:checked ~ .burger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger-menu__toggle:checked ~ .burger-menu__box {
  visibility: visible;
  left: 0;
}

.burger-menu__btn > span, .burger-menu__btn > span::before, .burger-menu__btn > span::after {
  transition-duration: 0.25s;
}
.burger-menu__box {
  transition-duration: 0.25s;
}
.burger-menu__item {
  transition-duration: 0.25s;
}

.container-main {
  margin-top: 140px;
  margin-left: 240px;
  z-index: 1;
  width: calc(100% - 240px);
  display: flex;
}
@media screen and (max-width: 992px) {
  .container-main {
    margin-top: 120px;
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 768px) {
  .container-main {
    margin-top: 120px;
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}
@media screen and (max-width: 479px) {
  .container-main {
    width: 100%;
    display: block;
    margin-left: 0px;
    margin-top: 190px;
  }
}
.container-main__main {
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}
.container-main__main_photo {
  width: 60%;
  box-shadow: 8px 0 14px 0 rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 2px 20px 2px 2px;
}
@media screen and (max-width: 992px) {
  .container-main__main_photo {
    padding: 10px;
    margin: 20px 20px 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .container-main__main_photo {
    padding: 10px;
    margin: 10px 10px 10px 0;
  }
}
@media screen and (max-width: 479px) {
  .container-main__main_photo {
    width: 100%;
  }
}
.container-main__main_info {
  width: 40%;
}
@media screen and (max-width: 479px) {
  .container-main__main_info {
    width: 100%;
  }
}

.photo {
  width: 100%;
}

.info__confucii {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin-top: 0px;
  color: #021e25;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
}
@media screen and (max-width: 992px) {
  .info__confucii {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .info__confucii {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 479px) {
  .info__confucii {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    font-size: 18px;
  }
}
.info__confucii_name {
  right: 90px;
  font-size: 26px;
}
@media screen and (max-width: 992px) {
  .info__confucii_name {
    right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .info__confucii_name {
    right: 50px;
  }
}
@media screen and (max-width: 479px) {
  .info__confucii_name {
    right: 50px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
  }
}

.articles {
  margin-left: 240px;
  z-index: 1;
  width: calc(100% - 240px);
}
@media screen and (max-width: 992px) {
  .articles {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 768px) {
  .articles {
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}
@media screen and (max-width: 479px) {
  .articles {
    width: 100%;
    margin-left: 0px;
  }
}

.article-border {
  border: solid 1px #044151;
  padding: 10px;
  margin-top: 20px;
}

.article__community-describe {
  color: #021e25;
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  line-height: 1.4;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
.article__community-describe__diapeople-name {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .article__community-describe {
    font-size: 14px;
  }
}
.article__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background: rgb(187, 215, 243);
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
}
@media screen and (max-width: 992px) {
  .article__links {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 540px;
    gap: 2px;
    justify-items: center;
  }
}
@media screen and (max-width: 768px) {
  .article__links {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 540px;
    gap: 2px;
  }
}
.article__news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(187, 215, 243);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 992px) {
  .article__news {
    display: grid;
    grid-template-columns: 100%;
    height: 560px;
    gap: 2px;
    justify-items: center;
  }
}
@media screen and (max-width: 768px) {
  .article__news {
    display: grid;
    grid-template-columns: 100%;
    height: 500px;
    gap: 2px;
  }
}

.link {
  width: 16vw;
  height: 14vw;
  color: #044151;
  font-size: 18px;
  font-family: "Philosopher", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 20px 0 20px;
  border-radius: 4px;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 992px) {
  .link {
    width: 34vw;
    height: 26vw;
  }
}
@media screen and (max-width: 768px) {
  .link {
    width: 30vw;
    height: 26vw;
  }
}
.link__link-button {
  text-decoration: none;
  color: #044151;
}
.link__link-button:hover {
  background: rgb(187, 215, 243);
  border-radius: 6px;
  padding: 10px;
}

.new {
  width: 22vw;
  height: 22vw;
  color: #044151;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 992px) {
  .new {
    width: 70vw;
    height: 15vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .new {
    width: 60vw;
    height: 15vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.subscribe__form {
  background-color: #044151;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
}
.subscribe__form_header {
  font-size: 26px;
}
.subscribe__form_input-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
@media screen and (max-width: 992px) {
  .subscribe__form_input-button {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .subscribe__form_input-button {
    flex-direction: column;
    height: auto;
  }
}

.input {
  border-radius: 4px;
  height: 36px;
}
.input__search {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .input__search {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .input__search {
    width: 160px;
  }
}
@media screen and (max-width: 479px) {
  .input__search {
    display: none;
  }
}
.input__form_contact {
  width: 340px;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .input__form_contact {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .input__form_contact {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.text-center {
  display: flex;
  justify-content: center;
}

.line {
  height: 60px;
  background-color: #044151;
  margin-top: 20px;
}

.footer {
  margin-left: 240px;
  width: calc(100% - 220px);
  height: 200px;
  background-color: #044151;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  text-align: center;
  align-items: center;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .footer {
    margin-left: 200px;
    width: calc(100% - 210px);
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin-left: 180px;
    width: calc(100% - 190px);
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .footer {
    width: 100%;
    margin-left: 0px;
  }
}

.about_diabete__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.what_is_diabete_text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.insulin__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hypoglikemia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hyperglikemia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.food__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.for_new_people__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.psyhology__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.gadgets__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.insulin_injection__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.measure_devices__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.documents__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.posobia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.lgoty__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hospitals__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.diabete_lifestyle__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.fakes__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.world_diabete__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.community__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.school__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.about_us__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.about_us__container {
  display: flex;
  margin-top: 140px;
  margin-left: 14rem;
}
.about_us__container__photo {
  width: 55%;
}
.about_us__container__velik {
  width: 45%;
}
.about_us__community-describe {
  color: #021e25;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 14rem;
}

.form {
  background-color: #044151;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14rem;
}
.form__person-contact {
  width: 40%;
  height: 40px;
  margin-right: 40px;
}
.form__submit-contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.photo-velik {
  width: 100%;
}

.container-news {
  width: 100%;
}
.container-news__header {
  color: #044151;
  text-align: center;
  font-size: 26px;
  margin-top: 160px;
  font-weight: 600;
}
.container-news__item {
  border: solid 1px rgb(212, 229, 246);
  margin-top: 20px;
  padding: 20px;
}
.container-news__img {
  width: 20%;
}/*# sourceMappingURL=main-styles.css.map */